html.dark {
  color-scheme: dark;
}

@font-face {
  font-family: 'PolySans';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/PolySans-Median.woff2') format('woff2');
}

@font-face {
  font-family: 'PolySans';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('assets/fonts/PolySans-Neutral.woff2') format('woff2');
}

@font-face {
  font-family: 'Graphik';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('assets/fonts/Graphik-Regular.woff2') format('woff2');
}